legend {
    padding: 2px 5px;
    font-size: 15px;
    font-weight: 700;
    color: blue;
}
legend {
    font-weight: 700;
}

legend {
    display: block;
    padding-inline-start: 2px;
    padding-inline-end: 2px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    border:none;
    width:200px;
}

.the-legend {
    border-style: none;
    border-width: 0;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    width: auto;
    padding: 0 10px;
    border: 1px solid #e0e0e0;
}
.the-fieldset {
    border: 1px solid #e0e0e0;
    padding: 10px;
}

body, table, input, textarea, select, li, button {
    font-family: battambang,trebuchet ms,comic sans ms,Helvetica,Arial,Sans-Serif;
    font-size: 12px;
    line-height: normal;
    color: #333;
}